<div>
  <div>
    <label> <input #input (focusin)="onFocus()" (focusout)="onFocusOut()" (keypress)="onKeypressHandler($event)"  [(ngModel)]="inputValue"
                   *ngIf="!isReadonly; else readonlyMode" [disabled]="isDisabled"
                   type="text"
                   [placeholder]="(isDisabled)?'Input is disabled':'Type number'"/></label>
    <br>
  </div>
  <ng-template #readonlyMode>
    <label>{{(inputValue)?inputValue:'ReadOnly Mode'}}</label>
  </ng-template>
  <span style="color: red">{{errorMessage}}</span>
</div>
